# {{ ansible_managed }}
#  _____    _
# |__  /___| |__  _ __ ___
#   / // __| '_ \| '__/ __|
#  / /_\__ \ | | | | | (__
# /____|___/_| |_|_|  \___|

plugins=(virtualenv)

HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt appendhistory autocd beep nomatch notify autopushd
unsetopt extendedglob
unsetopt HIST_VERIFY

source /opt/homebrew/share/antigen/antigen.zsh
antigen use oh-my-zsh
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle common-aliases
antigen bundle zsh_reload
#antigen bundle z
#antigen bundle andrewferrier/fzf-z

antigen apply

eval "$(starship init zsh)"

eval "$(/opt/homebrew/bin/brew shellenv)"

# Only run tmux if not already inside a tmux session
if [ -z "$TMUX" ]; then
  TMUX_OUTPUT="$(tmux a 2>&1)"
  if [[ "$TMUX_OUTPUT" == *"no sessions"* ]]; then
      tmux new -s "SunRise Robotics" -n "Reactive"
  else
      tmux a
  fi
fi

export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

source ~/.aliases
source ~/.env_vars
source ~/.functions
